.footer {
  background-color: var(--clr-slate800);
  padding: 1rem;
  color: var(--clr-slate400);
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: var(--clr-slate200);
}

.footer a:hover {
  text-decoration: underline;
}